spring:
  application:
    name: inventory-service
  
  datasource:
    url: jdbc:postgresql://localhost:5433/inventory_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

server:
  port: 8082
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.example.inventory_service: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
