server:
  port: 8083

spring:
  application:
    name: sales-service
  
  datasource:
    url: jdbc:postgresql://localhost:5434/sales_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: America/Guayaquil

services:
  catalog:
    url: http://catalog-service:8081
  inventory:
    url: http://inventory-service:8082

logging:
  level:
    com.example.sales_service: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
